<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{title}}{% block subtitle %}{% endblock %}</title>
    <link rel="canonical" href="{{site-url}}{{uri}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Alegreya:400italic,700italic,400,700">
    <!-- TODO kill bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{index-uri}}">{{title}}</a>
            <span class="navbar-subtitle">{{description}}</span>
        </div>
        <div id="navbar">
            <ul class="nav navbar-nav navbar-right">
                {% for nav-page in navbar-pages %}
                <li {%ifequal page.uri nav-page.uri %} class="active" {% endifequal %}>
                    <a href="{{nav-page.uri}}">{{nav-page.title}}</a>
                </li>
                {% endfor %}
                <li {% if archives %} class="active" {% endif %}>
                    <a href="{{archives-uri}}">Archives</a>
                </li>
                <li><a href="{{rss-uri}}">RSS</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>


<div class="container">


    <div class="row">
        <div class="col-lg-12">
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <footer>
        <p><span class="copyleft">&copy;</span> {{today|date:yyyy}} {{author}}</p>
        <p>Creative Commons License (<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>)</p>
        <p style="text-align: center;">Powered by <a href="http://cryogenweb.org">Cryogen</a></p>
    </footer>
</div>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
{% script "js/highlight.pack.js" %}
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>

